<div>
  <div class="text-center py-4 border-0">
    <h1 class="display-6 fw-bold">Annonce Details</h1>
  </div>
  <div class="text-left py-4 border-0">
    <h4 class="display-10 fw-bold">{{ annonce.title }}</h4>
  </div>
  <p>
    {{ annonce.createdAt }}
  </p>
  <div class="d-flex">
    <p>
      {{ annonce.type }}
    </p>
    <p>
      {{ annonce.price }}
    </p>
  </div>
  <p>
    {{ annonce.description }}
  </p>

  <button type="button" class="btn btn-primary" (click)="goBack()">
    Go Back
  </button>
</div>
