<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SS</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" *ngIf="isVisible">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="annonce/filter"
            routerLinkActive="active"
            >Filter</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="annonce/add"
            routerLinkActive="active"
            >Add</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="about"
            routerLinkActive="active"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
