<div class="container-fluid py-3">
  <h1 class="text-center">{{ pageTitle }} Annonce</h1>

  <div class="card col-6 mx-auto row justify-content-center my-5">
    <div class="col-12 p-4">
      <form
        [formGroup]="reactiveForm"
        #annonceForm="ngForm"
        (submit)="createAnnonce()"
      >
        <div class="row">
          <div class="col mb-2">
            <label for="title" class="form-label">Title:</label>
            <input
              type="text"
              id="title"
              name="description"
              formControlName="title"
              placeholder="Your title"
              required
              class="form-control form-control-sm"
              [class.is-invalid]="
                title.invalid && (title.dirty || title.touched)
              "
            />
            <div
              *ngIf="title.invalid && (title.dirty || title.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="title.errors?.['required']">
                This Title is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="description" class="form-label">description:</label>
            <input
              type="text"
              id="description"
              name="description"
              formControlName="description"
              placeholder="Your description"
              maxlength="10"
              class="form-control form-control-sm"
              [class.is-invalid]="
                description.invalid &&
                (description.dirty || description.touched)
              "
            />
            <div
              *ngIf="
                description.invalid &&
                (description.dirty || description.touched)
              "
              class="invalid-feedback"
            >
              <div *ngIf="description.errors?.['required']">
                This description is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="price" class="form-label">price:</label>
            <input
              type="number"
              id="price"
              name="price"
              formControlName="price"
              required
              class="form-control form-control-sm"
              [class.is-invalid]="
                price.invalid && (price.dirty || price.touched)
              "
            />
            <div
              *ngIf="price.invalid && (price.dirty || price.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="price.errors?.['required']">
                This field is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3 col">
          <label for="type" class="form-label">Type</label>
          <select
            id="type"
            class="form-select"
            aria-label=""
            #type
            required
            formControlName="type"
            class="form-control form-control-sm"
            name="type"
            required
            (change)="changeType($event)"
          >
            <option value="">Choose your Type</option>
            <option *ngFor="let type of types" [ngValue]="type">
              {{ type }}
            </option>
          </select>

          <!-- <div
            *ngIf="price.invalid && (price.dirty || price.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="price.errors?.['required']">
              This field is required.
            </div>
          </div> -->
        </div>

        <div class="row">
          <div class="col mb-2 d-grid">
            <button type="submit" class="btn btn-sm btn-primary">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="submitted">
  <p>L'annonce a été créé avec succès</p>
</div> -->
