<div class="mt-5">
  <div class="text-center py-4 border-0">
    <h1 class="display-6 fw-bold">Filter Annonce</h1>
  </div>

  <form class="row g-3">
    <div class="mb-3 col-md-3">
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Title"
        #title
      />
    </div>

    <div class="mb-3 col-md-3">
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Description"
        #description
      />
    </div>

    <div class="mb-3 col-md-3">
      <select class="form-select" aria-label="" #type>
        <option selected>Type</option>
        <option value="VEHICULE">Vehicule</option>
        <option value="EMPLOI">Emploi</option>
        <option value="IMMOBILIER">Immobilier</option>
      </select>
    </div>

    <div class="mb-3 col-md-3">
      <input
        type="number"
        class="form-control"
        id="priceMin"
        placeholder="priceMin"
        #priceMin
      />
    </div>

    <div class="mb-3 col-md-3">
      <input
        type="text"
        class="form-control"
        id="priceMax"
        placeholder="priceMax"
        #priceMax
      />
    </div>
    <div class="flex col-md-3" role="group" aria-label="">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onFilter(title, description, priceMin, priceMax, type)"
      >
        Search
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="onReset(title, description, priceMin, priceMax, type)"
      >
        Reset
      </button>
    </div>
  </form>

  <div *ngIf="annonces && annonces.length > 0">
    <div class="text-left py-4 border-0">
      <h4 class="display-10 fw-bold">Result:</h4>
    </div>

    <app-table [annonces]="annonces"></app-table>
    <app-pagination
      [totalPages]="totalPages"
      [currentPage]="currentPage"
    ></app-pagination>
  </div>
</div>
