<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let annonce of annonces">
      <td>
        <a [routerLink]="['/annonce', annonce.id]">{{ annonce.title }}</a>
      </td>
      <td>{{ annonce.description }}</td>
      <td>{{ annonce.price }}</td>
      <td>{{ annonce.type }}</td>
    </tr>
  </tbody>
</table>
